.button {
	button {
		background-color: transparent;
		border: 1px solid #f5ab00;
		border-radius: 5px;
		color: #fff;
		padding: 10px 20px;
		text-transform: uppercase;
		cursor: pointer;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		&:hover {
			background-color: #f5ab00;
			color: #000;
		}
	}
}
.buttonDisabled {
	button {
		color: #ffffff16;
		border-color: #ffffff17;
		&:hover {
			color: #ffffff16;
			background-color: transparent;
		}
	}
}
