.notFound {
	height: 50vh;
	font-size: 30px;
	color: #f5ac0084;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-weight: 200;
}

.cards {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
	margin-bottom: 50px;
	position: relative;
}
.item {
	border-radius: 20px;
	height: 100%;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 1) 100%);
		width: 100%;
		height: 100%;
	}
	cursor: pointer;
	.rating {
		position: absolute;
		top: 20px;
		left: 20px;
		border: 2px solid #fff;
		padding: 10px;
		background-color: #00000076;
		height: 15px;
		width: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		border-radius: 50%;
		
	}
	img {
		height: max-content;
		width: 100%;
		background-size: cover;
		object-fit: contain;
	}

	&:hover {
		
		transform: translateY(-10px);
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff41 100%);
			z-index: 20;
		}
	}
}
.text {
	position: absolute;
	bottom: 0;
	padding: 20px;
	.title {
		font-size: 25px;
		color: #fff;
		margin-bottom: 10px;
	}
	.year {
		color: #fff;
		// margin-bottom: 10px;
	}
	.genre {
		font-size: 16px;
		color: #f5ab00;
		font-weight: 200;
	}
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	gap: 20px;
}
.page {
	color: #f5ab00;
}
