.filters {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #f5ac0021;
	
}
.title {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}
.categories {
	font-size: 15px;
	display: flex;
	gap: 50px;
	position: relative;
	color: #fff;
	width: 40%;
}

