.filters {
	margin-bottom: 50px;
}
.title {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}
.categories {
	font-size: 15px;
	display: flex;
	gap: 50px;
	position: relative;
	color: #fff;
	width: 40%;
}

