.wrapper {
	background-color: #1a191fd2;
	box-shadow: 1px 3px 5px #00000049;
	border-bottom: 1px solid #222028;
	z-index: 2;
	a {
		color: #fff;
		text-decoration: none;
	}
}
.appBar {
	display: grid;
	grid-template-columns: (1fr 1fr 1fr );
	gap: 10px;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	height: 60px;
}

.menu {
	display: flex;
	text-transform: uppercase;
	letter-spacing: 2px;
	justify-content: space-between;
	gap: 10px;
	font-weight: 200;
	font-size: 18px;
	
	.menuItem{
		transition: color 0.3s ease-in;
		&:hover{
			color: #f5ab00;
		}
	}
}

.rightBar{
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 20px;
}
.search{
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}
.searchIcn{
 color: #fff;

}
