.wrapper {
	background-color: #00000099;
	box-shadow: 1px 3px 5px #000000b3;
	a {
		color: #fff;
		text-decoration: none;
	}
}
.appBar {
	display: grid;
	grid-template-columns: (1fr 1fr 1fr 1fr);
	gap: 10px;
	align-items: center;
	height: 60px;
}
.logo {
	justify-self: center;
	font-size: 20px;
	font-weight: 600;
}
.menu {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	font-weight: 200;
	font-size: 20px;

}
.search{
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	input{
		background: transparent;
		font-size: 20px;
		color: #fff;
		border: 1px solid #ffffff5b;
		padding: 3px;
		outline: none;
		width: max-content;
		border-radius: 5px;
	}
}
.searchIcn{
 color: #fff;

}
.auth{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	button{
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 5px;
		color: #fff;
		padding: 10px 20px;
	}
}
