.wrapper {
	height: 100%;
 
  
}
.slider {
  position: relative;
  
  border-radius: 20px;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
  // &::after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	backdrop-filter: saturate(80%);
  //   z-index: 1;
	// 	background: rgba(29, 29, 29, 0.234);
	// }
}


