.wrapper {
	height: 100%;
}
.slider {
  height: 80vh;
  overflow: hidden;
  margin-bottom: 20px;
}

.filters {
	
}
.title {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}
.categories{
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	width: 30%;
	color: #fff;
}
