.wrapper{
	background: url('/public/movieChears.webp');
	height: 100vh;
	background-size: cover;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #000000ca;
	}
}
.text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
   text-align: center;
	z-index: 1;
}
.errorTitle{
	color: #f5ab00;
	font-size: 50px;
	margin-bottom: 20px;
}
.errorMessage{
	color: #f5ab00;
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 20px;
}